NODE_ENV=development
PORT=3002
SERVICE_NAME=notification-service

DATABASE_URL="postgresql://postgres:postgres_notification_secret@localhost:5433/notification_service_db?schema=public"

NATS_URL=nats://localhost:4222
NATS_USER=app_user
NATS_PASSWORD=app_secret_pass

INTERNAL_API_KEY=internal-service-secret-key-replace-in-production
