NODE_ENV=development
PORT=3001
SERVICE_NAME=user-service

DATABASE_URL="postgresql://postgres:postgres_user_secret@localhost:5432/user_service_db?schema=public"

NATS_URL=nats://localhost:4222
NATS_USER=app_user
NATS_PASSWORD=app_secret_pass

JWT_SECRET=super-secure-jwt-secret-replace-in-production-at-least-32-chars-long
JWT_EXPIRES_IN=24h
INTERNAL_API_KEY=internal-service-secret-key-replace-in-production
